{%- comment -%}

Add Multilanguage support

If you want to use multilanguage, you have to add the following fields
at the target file header. For example:

---
title: A cool title
lang: en
ref: acoolref
layout: default
---

The ref parameter is responsible for group all related file with the an
specific language.

Note: lang and ref are mandatory if you want to use multilanguage

{%- endcomment -%}

<ul class="lang">

{% if page.path contains '_posts' %}
{% assign pages=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% else %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

{% for p in pages %}
  {% if p.lang != page.lang %}
  <li>
    <a href="{{ p.url }}" class="{{ p.lang }}" style="background-image:url({{site.data.languages[p.lang].image}})">{{site.data.languages[p.lang].label}}</a>
  </li>
  {% endif %}
{% endfor %}

</ul>
